debian/files
debian/mpi-start.debhelper.log
debian/mpi-start.substvars
debian/mpi-start/
Makefile
docs/mpi-start.aux
docs/mpi-start.log
docs/mpi-start.out
docs/mpi-start.pdf
docs/mpi-start.tex
docs/mpi-start.toc
build
src/mpi-start
tests/test.o
