Source: mpi-start
Section: net
Priority: optional
Maintainer: Enol Fernandez <enolfc@ifca.unican.es>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Vcs-hg: https://devel.ifca.es/hg/mpi-start
Vcs-browser: https://devel.ifca.es/hg/mpi-start
Homepage: https://devel.ifca.es/mpi-start/

Package: mpi-start
Architecture: all
Depends: ${misc:Depends}
Description: MPI startup mechanism abstraction layer
 mpi-start is a set of scripts to close the gap between the workload
 management system of a Grid insfrastructure and the configuration of
 the nodes on which MPI applications are run. The package is used to
 help the user start MPI applications on heterogeneous Grid sites. 
 .
 Check the project home page at: http://devel.ifca.es/mpi-start/
